html {
    font-size: 100%;
    color: rgb(217, 187, 15);
    background-color: black;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: serif 'Times New Roman', Times, serif;
    line-height: 2;
    font-size: 25px;
    position: relative;
}

ul {
    list-style-type: none;
}

.moment-pirce {
    text-align: center;
    font-size: 35px;
    border: 0;
    background-color: black;
    color: white;
    resize: none;
}

.picBitc {
    background-image: url(./pic/1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.averageData {
    position: relative;
    display: none;
}

.averageUl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.averageUl li {
    margin: 10px;
}

.averageText {
    text-align: left;
    font-size: 25px;
    background-color: black;
    color: antiquewhite;
    border: 0;
    opacity: 70%;
    resize: none;
}

.weekLi {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.monthLi {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.previousBtn {
    margin: 10px 0px;
}

.btnAverage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn {
    padding: 10px 20px;
    background-color: rgb(255, 196, 0);
    border-radius: 15px;
    font-size: 17px;
}

.previousBtn :hover {
    background-color: rgb(160, 90, 9);
}

.footer img{
    background: no-repeat;
    opacity: 20%;
    background-size: contain;
}