html {
    font-size: 100%;
    /* box-sizing: border-box; */
    color: rgb(217, 187, 15);
    background-color: black;
    text-align: center;
    /* font-family: serif 'Times New Roman', Times, serif; */
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: serif 'Times New Roman', Times, serif;
    line-height: 2;
    font-size: 25px;
    position: relative;
}

ul {
    list-style-type: none;
}

.averageUl {
    display: flex;
    justify-content: center;
}

.averageUl li {
    margin: 10px
}


.previousBtn {
    margin: 10px 0px;
}

.btn {
    padding: 10px 20px;
    background-color: rgb(255, 196, 0);
    border-radius: 15px;
    font-size: 17px;
}

.btn :hover{
    background-color: rgb(215, 128, 29);
}