html {
    font-size: 100%;
    color: rgb(217, 187, 15);
    text-align: center;
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: sans-serif;
    line-height: 2;
    font-size: 25px;
    position: relative;
}

ul {
    list-style-type: none;
}

p {
    font-weight: bold;
}

.moment-pirce {
    text-align: center;
    font-size: 35px;
    border: 0;
    background-color: black;
    color: white;
    resize: none;
}

.picBitc {
    background-image: url(./pic/1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.averageData {
    position: relative;
    display: none;
}

.averageUl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.averageUl li {
    margin: 0px;
}

.averageText {
    text-align: left;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.646);
    color: rgb(255, 195, 14);
    border: 0;
    opacity: 90%;
    resize: none;
}

.weekLi {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.monthLi {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.previous {
    position: relative;
}

.previousBtn {
    margin: 10px 0px;
}

.btnAverage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn {
    padding: 10px 20px;
    background-color: rgb(255, 196, 0);
    border-radius: 10px;
    font-size: 17px;
    font-weight: bold;
}

.previousBtn :hover {
    background-color: rgb(160, 90, 9);
}

.footer img{
    opacity: 40%;
    border-radius: 100px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}